@import url('../variables/variables.css');


.addVisitBtn , .viewDoctor {
    height: 42px;
    width: 150px;
    font-size: 16px;
    font-weight: bolder;
    margin-right: 40px;
    color: var(--white);
    background: var(--btnGreen);
    outline: none;
    border-radius: 100px;
    border-color: var(--white);
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cancelBtn{
  height: 42px;
  width: 150px;
  font-size: 16px;
  font-weight: bolder;
  margin-left: 40px;
  color: var(--white);
  background: var(--btnRed);
  outline: none;
  border-radius: 100px;
  border-color: var(--white);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.deleteBtn{
  height: 42px;
  width: 150px;
  font-size: 16px;
  font-weight: bolder;
  color: var(--white);
  background: var(--btnRed);
  outline: none;
  border-radius: 100px;
  border-color: var(--white);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.editBtn {
  height: 42px;
  width: 150px;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 5px;
  color: var(--white);
  background: var(--btnOrange);
  outline: none;
  border-radius: 100px;
  border-color: var(--white);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.doctorScheduleReportBtn {
  height: 42px;
  width: 300px;
  font-size: 16px;
  font-weight: bolder;
  color: var(--white);
  background: var(--btnOrange);
  outline: none;
  border-radius: 100px;
  border-color: var(--white);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.layout .input input[type="text"] {
  margin-left: 30px;
  height: 45px;
  width: 90%;
  outline: none;
  color: var(--black);
  background: none;
  border-radius: 100px;
  padding-left: 10px;
  font-size: 20px;
  border: 2px solid var(--textBorder);
}

.layout .input input[type="time"] {
  margin-left: 30px;
  height: 45px;
  width: 90%;
  outline: none;
  color: var(--black);
  background: none;
  border-radius: 100px;
  padding-left: 10px;
  font-size: 20px;
  border: 2px solid var(--textBorder);
}


.layout .input select{
  margin-left: 30px;
  height: 45px;
  width: 90%;
  outline: none;
  color: var(--black);
  background: none;
  border-radius: 100px;
  padding-left: 10px;
  font-size: 20px;
  border: 2px solid var(--textBorder);
}

.doctorScheduleLayout {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85) !important;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  font-weight :400;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 300px;

}

.doctorScheduleMainLayout {
  margin: auto;
  width: 99%;
  background-color: rgba(255, 255, 255, 0.85) !important;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-block-start: 8px;
  margin-bottom: 5px;
  font-weight :400;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 300px;

}

.addDoctorScheduleLayout {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.85) !important;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  font-weight :400;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 300px;

}

.layout .input label{
  margin-left: 40px;
  font-size: 20px;
  color: #000000;
  align-content: flex-start;
  margin-bottom: 5px;

}

.Qbody{
  width: 100%;
  margin-top: 10px;
  display: block;
}

.QTop{
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 93% !important;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.85) !important;
  padding: 30px !important;
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: space-around;
  display: flex;
}

.QRow1{
  overflow: hidden;
  width: 50% !important;
  display: flex;
}
.QRow2{
  overflow: hidden;
  text-align: right;
  align-items: right;
  width: 100%;
}


.QBottom{
  width: 100%;
  display: flex;
  overflow: auto;
}

.Qleft{
  text-align: left;
}

.Qrow{

  display: flex;
}
.Qcenter{
  align-items: center;
  text-align: center;

}

.Qrow input{
  margin-left: 5px;
  margin-right: 5px;
}

.QBottomL{
  margin-left: auto;
  overflow: hidden;
  width: 26.5% !important;
  background-color: rgba(255, 255, 255, 0.85) !important;
  padding: 35px !important;
  margin-bottom: 10px;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: inline-table;
}

.QBottomR{
  margin-right: auto;
  overflow: hidden;
  width: 66% !important;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.85) !important;
  padding: 20px;
  border-radius: 20px !important;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.QCardBody{
  display: inline;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  margin: auto;


}

.doctorName{
  font-size: 25px;
  font-weight: bolder;
  color: var(--blue);
}

.doctorType{
  color: var(--white);
  background-color: var(--gray);
  padding-left: 15px;
  padding-right: 15px;
  width :fit-content;
}

.popupTittle {
  
}
