.qa-card{
    padding: 10px;
    background-color: var(--btnOrange);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    min-width: fit-content;
    align-items: center;
    text-align: center;
    color: var(--white);
    font-weight: 600;
    margin: auto;
    align-content: center;
    border: none;

}
.qacard-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.qa-card-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
