.main {
  margin-top: 70px;
  padding: 10px;
  justify-content: center;
}

.btnOrange {
  height: 42px;
  width: 30%;
  font-size: 18px;
  color: var(--white);
  background: var(--btnOrange);
  outline: none;
  border-radius: 100px;
  border-color: var(--white);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.inputs {
  height: 45px;
  width: 100%;
  outline: none;
  color: var(--black);
  background: none;
  border-radius: 100px;
  padding-left: 10px;
  font-size: 12px;
  border: 2px solid var(--textBorder);
  font-size: 16px;
}

.bodyLink {
  text-decoration: none;
  font-size: 16px;
}

.bodyLink:hover {
  color: blue;
}