body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--white); */
  /* background-image: url('./asserts/background/bg.jpg'); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center; */
  background-image: url('./asserts/BG.png');
  background-repeat: repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  -webkit-transition: background-image 1000s;
    -moz-transition: background-image 1000s;
    -o-transition: background-image 1000s;
    transition: background-image 1000s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}