.Qcard{
    background-color: var(--white);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cTitle{
    font-size: 25px;
    font-weight: 600;
    color: rgba(60, 169,238,1);
}

.cLables{
    display: flex;
    flex-wrap: wrap;
}

.cBottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cbBottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mar{
    margin-right: 20px;
    margin-left: 20px;
}
.cMpointer{
    cursor: pointer;
}

