.Pbody {
    width: 100%;

}

.Pdetails {
    justify-content: space-around;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.pLogo {
    width: 400px;
    height: 400px;
    min-width: 50px;

}

.pL {
    display: inline;
}

.pRow {
    display: flex;
    justify-content: space-between;
    text-align: left !important;
    margin-bottom: 5px;
}

.pRow label {
    margin-right: 10px;
}

.pifo {
    font-weight: 500;
}

.pBtn {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;

}

.pBodyM {
    width: 100%;
    display: flex;
}

.pBodyL {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
    display: inline;
}

.pBodyR {
    background-color: rgba(255, 255, 255, 0.5);
    width: 19%;
    padding: 20px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
    display: inline;

}

.pNavsSignOut,
.pNavs{
    cursor: pointer;
    padding: 5px;


}

.pNavsSignOut:hover,
.pNavs:hover{
    background-color: rgb(223, 237, 248);
    

}

.pNavsSignOut{
    color: var(--red);
}

.pNavs{
    color: var(--blue);
}

.layoutP{
 margin-top: 10px;
}