@import url('../variables/variables.css');

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content p,
a {
  color: var(--black);
}

footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}

footer .content .topic {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--black);
  margin-bottom: 16px;

}

footer .content p {
  text-align: justify;
}

footer .content .lower .topic {
  margin: 24px 0 5px 0;
}

footer .content .lower i {
  padding-left: 80px;
}

footer .content .middle {
  padding-right: 16px;
}

footer .content .middle form {
  display: flex;
  overflow: auto;
}

footer .content .left a {
  line-height: 32px;
  text-decoration: none;
}



footer .content .middle input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: var(--black);
  background: none;
  border-radius: 100px;
  padding-left: 10px;
  font-size: 12px;
  border: 2px solid var(--textBorder);
}

footer .content .middle input[type="submit"] {
  height: 42px;
  width: 30%;
  font-size: 12px;
  color: var(--white);
  background: var(--btnOrange);
  outline: none;
  border-radius: 100px;
  border-color: var(--white);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


footer .content .media-icons a {
  font-size: 12px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 100px;
  margin: 0px 15px 0px 0px;
  transition: all 0.3s ease;
}

.icn {
  height: 45px;
  width: 45px;
  transition: all 0.3s ease;
}

.icn:hover {

  transition: all 0.3s ease;
}


.content .media-icons a:hover {
  border-color: var(--blue);
}

footer .bottom {
  width: 100%;
  text-align: center;
  padding: 5px;
  color: var(--white);
  padding: 0 40px 5px 0;
  background-color: var(--blue);
}

footer a {

  transition: all 0.3s ease;
}

@media (max-width:1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}

@media (max-width:950px) {
  footer .content .box {
    width: 50%;
  }

  .content .right {
    margin-top: 40px;
  }
}

@media (max-width:560px) {
  footer {
    position: relative;
  }

  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }

  footer .content .middle {
    padding-left: 0;
  }
}