.Phbody{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  /* background-color: brown; */
  height: 100%;
  padding: 10px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* justify-content: center; */
  display: inline;
}

.Phdetails{
    justify-content: space-around;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    
}

.phLogo{
    width: 400px;
    height: 400px;
    min-width: 50px;

}

.phL{
    display: inline;
}

.phRow{
    display: flex;
    justify-content: space-between;
    text-align: left !important;
    margin-bottom: 5px;
}
.phRow label {
    margin-right: 10px;
}

.phifo{
    font-weight: 500;
}

.phBtn{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;

}
.phMain{
 width: 100%;
 display:flex;
 justify-content: space-between;
}
.phMainLeft{
    width: 80%;
    margin-right: 10px;
    

}
.phMainRight{
    width: 39%;
    
    
}