.report{
    color: var(--red);
}

.share{
    color:var(--darkBlue)
}

.reply{
    color:var(--btnOrange)
}

.edit{
    color:var(--btnOrange)
}

.fW{
    font-weight: 700;
}

.im{
    margin-right: 2px;
}
.errorMsg{
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    text-align: center;

}

.SuccessMsg{
    background-color: var(--green);
    color: var(--white);
    padding: 10px;
    text-align: center;
}