.report {
    color: var(--red);
}

.share {
    color: var(--darkBlue)
}

.reply {
    color: var(--btnOrange)
}

.edit {
    color: var(--btnOrange);
    animation       : 2s pulsate infinite;
}

.correct {
    color: var(--btnGreen);
    animation       : 2s pulsate infinite;
}

.ncorrect {
    fill            : none;
    stroke          : var(--btnGreen);
    stroke-width    : .5px;
    stroke-linejoin : round;
    animation       : 2s pulsate infinite;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--btnGreen);
}

.wrong{
    color: var(--red);
}

.nwrong{
    fill            : none;
    stroke          : var(--red);
    stroke-width    : .5px;
    stroke-linejoin : round;
    animation       : 2s pulsate infinite;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--red);
}

.fW {
    font-weight: 700;
}

.im {
    margin-right: 2px;
}

.errorMsg {
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    text-align: center;
    

}

.SuccessMsg {
    background-color: var(--green);
    color: var(--white);
    padding: 10px;
    text-align: center;
}

.replyTitle {
    margin-left: 10px;
}

.editQbody{
    overflow-y: scroll !important;
}