.labelBody{
    width: 100%;
    display: table;
    overflow: auto;
}
.labelSearch{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.labelSearch2{
    display: flex;
    width: 60%;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--blue);
    color: white;
  }

  .labelBtnEdit{
    width: 100%;
    display: inline;
  }

  .ADLBtn{
    justify-content: space-around;
    display: flex;
  }