.layout {
    padding: 20px;
    margin: auto;
    justify-content: center;
    display: flex;
    width: 80%;
    height: 100%;
}

.brand-title {
    margin: auto;
    text-align: center;
    padding: 20px;

}

.form {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    padding: 20px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width: 300px;
    justify-content: center;
    text-align: center;
}

.rowflex {
    display: flex;
}

.icons {
    padding: 10px;
    float: right;
    margin-left: -40px;
    position: relative;
    z-index: 2;
}